/*responsividade é fazer com que a tela do site se adapte com os diferentes dispositivos */
/*condições para quando a tela tiver até no máximo 700px*/
@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 65%;
    }

    header .logo {
        margin-bottom: 10px;

    }


    .botao-informacao {
        margin-top: 10px;
        width: 190px;
        font-size: 11px;
    }

    .botao-assistir {
        margin-top: 5px;
        font-size: 11px;

    }

    header .logo {
        font-size: 35px;
    }

    .filme-principal .botoes {
        margin-bottom: 50px;

    }


    .filme-principal .descricao {
        font-size: small;
        margin-bottom: 10px;
        text-align: start;
    }

    .filme-principal .titulo {
        font-size: 30px;
        width: 270px;
    }
}

/*condições para quando a tela tiver de 1000px em diante*/

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}